@media all and (max-width: 1200px) {

	

}
@media all and (max-width: 992px) {

	.info-wrapper h1{
		font-size: 80px;
	}
	.our-services .btn{
		width:  100%;
	}

	.btn-label{
		width: 30%;	
	}
	
	.our-services-wrapper h3{
		font-size: 50px;	
	}
	.gallery, .our-services, .blog, .about-us .container-fluid{
	padding: 30px;
	}

	.gallery img{
		padding: 5px;
	}

	
}



@media all and (max-width: 768px) {

	
	#header {
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/background.png);	
	}

	.info-wrapper{
		text-align: center;
	}
	.info-wrapper h1{
		font-size: 80px;
	}
	.about-us-wrapper{
		text-align: center;
		padding-bottom: 20px;
	}

	.our-services .btn{
		width:  80%;
	}

	.our-services-wrapper h3{
		font-size: 70px;	
	}

	.btns-wrapper{
		margin: 10px 0;
	}

	.blog .container-fluid{
		padding: 0;
	}


	.gallery, .our-services, .blog, .contact, .about-us .container-fluid{
	padding: 0;
	}

	

	.gallery .container-fluid div.row:last-child{
	padding-top: 0;
}
.gallery img{
		padding: 5px;
	}
	
	.gallery img{
		width: 100%;
	}
		
}

@media all and (max-width: 556px){
	
	#header {
		height: 100vh;
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/background.png);
		background-size: cover;
		background-position: center;
	}

	.about-us-wrapper{
		text-align: center;
	}

	.info-wrapper p{
		text-shadow: 0px 0px 1px #ffffff;
	}

	.info-wrapper h1{
		font-size: 60px;
	}

	.our-services .btn{
		width:  100%;
	}

	.our-services-wrapper h3{
		font-size: 55px;
	}

	.gallery, .our-services, .blog, .contact, .about-us .container-fluid{
	padding: 0;
	}

	.subscribe-row{
		padding: 20px;
	}

	.gallery img{
		width: 100%;
	}


}