
@media all and (max-width: 992px) {

	.info-header h1{
		font-size: 70px;
	}
	.btns-wrapper .btn{
		width:  100%;
	}

	.btn-label{
		width: 30%;	
	}
	
	.our-services-header h1{
		font-size: 50px;	
	}

	.subscribe-header{
	padding: 100px 0 100px 100px;	
}

}

@media all and (max-width: 768px) {
	
	#subscribe{
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(img/subscribe-background-min.png);
		
	}
	#header {
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/background-min.png);	
	}

	.info-header{
		text-align: center;
	}
	.info-header h1{
		font-size: 60px;
	}
	.about-us-header{
		text-align: center;
		padding-bottom: 20px;
	}

	.our-services-header h1{
		font-size: 70px;	
	}

	.blog-imgs img{
		width: 100%;
	}

	.gallery-imgs img{
		width: 100%;
	}

	.subscribe-header{
		padding: 60px;
		text-shadow: 0px 0px 1px #ffffff;
	}

	.contact-data {
		background-color: rgba(255,255,255,0.3);
		text-align: center;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.caption p{
		padding: 20px;
		font-size: 35px;
	}

	.btns-wrapper{
		margin: 0;
	}
			
}

@media all and (max-width: 556px){
	
	.info-header h1{
		font-size: 50px;
	}

	.about-us-header h1 {
    	font-size: 60px;
	}

	.about-us-header small {
    	font-size: 14px;
	}

	.gallery-header h1 {
    	font-size: 60px;
	}

	.gallery-header small {
    	font-size: 14px;
	}

	.txt-btn {
	    font-size: 15px;
	}

	.our-services-header h1{
		font-size: 50px;
	}

	.subscribe-section{
		padding: 20px;
	}

	.btn{
		margin: 10px;
	}

	
	.btn-label{
		height: 80px;
	}

	.blog-header h1 {
    	font-size: 60px;  
	}

	.blog-header small {
    	font-size: 14px;  
	}

	.subscribe-header small {
	    font-size: 14px;
	}

	.contact-header h1 {
	    font-size: 60px;  
	}
	
	.contact-header small {
	    font-size: 14px;  
	}

	#gallery, #our-services, #blog, #contact .container{
		padding-top: 20px;
	}

	.subscribe-header{
		padding: 40px;
		text-align: center;
	}

	.caption p{
		padding: 15px;
		font-size: 20px;
	}

}

