/*-----GLOBAL-----*/
*{
	font-family: 'Raleway', sans-serif;
}

.info-header{
	margin-top: 200px;
}

.row{
	padding: 0;
	margin: 0;
	justify-content: center;
}

.subscribe-header{
	padding: 100px;
}

.gallery-imgs img{
		padding: 5px;
}

.contact-header, .blog-header, .gallery-header{
	margin-top: 30px;
}

/*-----NAVIGATION-----*/
.navbar{
	background-color: transparent;
	padding: 15px 10px;
}

.small-navbar{
	background-color: #fff;
	animation-name: navbar-bgcolor-change;
    animation-duration: 1s;
}

/*-----SECTIONS'-HEADERS-STYLING-----*/

nav a{
	font-weight: 700;
	font-size: 16px;
}

.info-header h1{
	font-weight: 800;
	font-size: 90px;
}

	.info-header small{
		font-size: 17px;
	}

.about-us-header h1{
	font-size: 70px;
	font-weight: 700;
	color: #ffffff;
}

	.about-us-header small{
		font-size: 16px;
		color: #ffffff;
	}

.our-services-header h1{
	font-size: 70px;
	font-weight: 700;
	position: absolute;
	color: #fff;
	white-space: nowrap;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 2px 5px #000000;
}

.gallery-header h1{
	color: #262626;
	font-size: 90px;
	font-weight: 700;
}

	.gallery-header small{
		font-size: 16px;
		color: #000000;
	}

.subscribe-header h1{
	color: #262626;
	font-size: 40px;
}
	.subscribe-header small{
		color: #262626;
		font-size: 17px
	}

.blog-header h1{
	color:  #ffffff;
	font-size: 90px;
	font-weight: 700;
}

	.blog-header small{
		color: #ffffff;
		font-size: 17px;
		font-weight: 300;
		text-align: justify;
	}

.contact-header h1{                        
	color:  #000000;
	font-size: 90px;
	font-weight: 700;
}
								
	.contact-header small{
		color: #000000;
		font-size: 17px;
		font-weight: 300;
		text-align: justify;
	}

.contact-data p{
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 17px;
}

.about-us-header{
	text-align: left;
	padding-bottom: 20px;
	align-self: center;
}

/*-----MOUSE-ICON-AND-NAVBAR-ANIMATIONS----*/
.mouse-icon{
	position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
}

.scroll{
	position: absolute;
	left: 50%;
	/*transform: translateX(-50%);*/
	bottom: 60px;
	transition: 1s ease;
}
@keyframes scroll{
	0%{transform: translate(-50%,-3px);}
	50%{transform: translate(-50%,5px)}
	100%{transform: translate(-50%,10px)}
}

.scroll:hover{

}

.scroll-animation{
	animation: scroll 2s infinite linear;
}

@keyframes navbar-bgcolor-change {
    from {background-color: transparent;}
    to {background-color: white;}
}

/*----------FORM-STYLING---------*/

.form-wrapper .form-control{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0;
	background-color:  rgba(0, 196, 196, 0.3);
	font-size: 17px;
}

.subscribe-header input{
	border-radius: 0;
	border: 1px solid #262626;
}

/*----------FOOTER-STYLING---------*/

footer{
	background-color: #262626;
	color: #b9b9b9;
	font-size: 16px;
}
footer span{
	color: red;
}

footer p{
	margin: 0;
	padding: 0px;
	line-height: 27px;
	white-space: nowrap;
}

/*----------SECTIONS'-BACKGROUND----------*/

#header {
	height: 100vh;
	background-image: url(img/background-min.png);
	background-size: cover;
	background-position: center;
}

#about-us{
	background-color:  #00c4c4;
}

#our-services{
	background-color:  #70bfff;;
}

#gallery{
	background-color: #ffe92f;
}

#blog{
	background-color: #b07cf7;
}

#subscribe{
	background: url(img/subscribe-background-min.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#contact{
	background: url(img/contact-background-min.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*----------BUTTONS-STYLING----------*/

	
.info-btn{
	background-color:  #ff6033;
	width: 200px;
	height: 55px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.btns-wrapper .btn{
	font-size: 20px;
	white-space: normal;
	width:  80%;
	display: flex;
	padding: 0;
	border: none;
	border-radius: 0;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	color: #262626;
	font-weight: 700;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}
.btn-label{
	display: flex;
	width: 25%;
	height: 100px;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #929292;
	border-radius: 0;
}

.txt-btn{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.btns-wrapper{
	margin-top: 40px;
	margin-bottom: 40px;
}

.gallery-btn{
	background-color:  #5585a2;
	width: 200px;
	height: 45px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	border-radius: 0;
	margin: 30px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.subscribe-btn{
	background-color: #96b92c;
	border-radius: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

.blog-btn{
	background-color:  #f72b3b;
	width: 200px;
	height: 45px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	border-radius: 0;
	margin-bottom: 50px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

/*----------ELEMENTS-ON-IMGS----------*/

figure {
	position: relative;
	margin: 10px;
}

.data{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
	z-index: 1;
	left: 15px;
	top: 15px;
	color: white;
	font-size: 24px;
	font-weight: 800;
	white-space: normal;
	line-height: 115%;
	text-transform: uppercase;
}

figcaption .caption{
	position: absolute;
	bottom: 0;
	color: #ffffff;
	font-size: 20px;
}

.caption p{
	margin: 0;
	background-color: rgba(0,0,0, 0.4);
}
/*----------IMGS----------*/

.blog-imgs img{
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/*----------HIDE-CONTENT----------*/
.card{
	background-color: transparent;
	border: none;
}

/*----OVERLINE-FROM-LEFT-EFFECT----*/

li a{
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ff6033;
  height: 4px;
}
li a:hover:before, li a:focus:before, li a:active:before {
  right: 0;
}





